# Created by .ignore support plugin (hsz.mobi)
.idea/
boot-cloud-app/boot-cloud-app.iml
boot-cloud-eureka-cluster-server/boot-cloud-eureka-cluster-server.iml
boot-cloud-eureka-server/boot-cloud-eureka-server.iml
boot-cloud-provider/boot-cloud-provider.iml
boot-cloud.iml
boot-cloud-api/src/test/
boot-cloud-api/target/
boot-cloud-app/target/
boot-cloud-eureka-cluster-server/target/
boot-cloud-eureka-server/target/
boot-cloud-feign-app/src/test/
boot-cloud-feign-app/target/
boot-cloud-provider/target/
